@font-face {
    font-family: Pacifico;
    src: url("Pacifico.ttf");
}


/*GLOBAL STYLES*/

:root {
    --main-bg-color: #f1f2ed;
    --main-tx-color: #794134;
    --secondary-text-color: #fff;
    --seconday-bg-color: #fcbb17;
    --color-one: #afafc7;
    --seconday-color: #ffc145;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h9 {
    text-align: left;
}

h1 {
    align-self: flex-start;
}

h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 1.9em;
    color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: var(--main-bg-color);
    font-family: "Montserrat", Helvetica, Arial;
    color: var(--main-tx-color);
}


/* NAVIGATION BAR STYLES */

header {
    position: fixed;
    /* para que el menú se mantenga fijado durante el scroll */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--seconday-bg-color);
    background-color: var(--main-bg-color);
    z-index: 2;
}

.logo {
    font-family: "Pacifico", sans-serif;
    color: var(--main-tx-color);
    font-size: 30px;
    font-weight: 400;
}

header nav {
    float: right;
    font: bolder 1.1em;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    height: 4em;
    line-height: 4em;
    padding: 0 1.25em;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: var(--main-tx-color);
    background: var(--seconday-color);
    transition: all 0.5s ease;
}

button {
    font: bolder 1em "Montserrat", Helvetica, Arial;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2em;
    line-height: 4em;
    width: 10em;
    margin: 15px 15px;
    border-radius: 5px;
    border: 0px none transparent;
    /* <line-width> || <line-style> || <color> */
}

button:hover {
    color: var(--main-tx-color);
    background: var(--seconday-bg-color);
    transition: all 0.5s ease;
}

.btn-primary {
    background-color: var(--seconday-bg-color);
    color: var(--main-bg-color);
    border: 0px solid var(--seconday-color);
    box-shadow: -10px 20px 15px -10px rgba(255, 251, 8, 0.3);
    /* <line-width> || <line-style> || <color> */
}

.login {
    border: 2px solid var(--main-tx-color);
    /* <line-width> || <line-style> || <color> */
}

#nav-link {
    color: var(--main-tx-color);
    text-decoration: none;
}

#main-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 620px;
    background-color: var(--seconday-bg-color);
}

.main-message {
    text-align: center;
    font-family: Pacifico;
    padding-top: 100px;
    font-weight: normal;
    font-size: 3em;
    color: var(--main-tx-color);
}

.primary-title {
    margin: 0.5em;
    padding: 0;
    line-height: 0.2em;
    font-family: Pacifico;
    font-weight: 100;
    color: var(--secondary-text-color);
    background-color: var(--main-tx-color);
    text-align: center;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* Esto es para el lazo que enmarca los títulos */

.ribbon {
    border-width: 2px 0;
    position: relative;
    display: block;
    padding: 0.75em 0 0.75em 0.5em;
    color: var(--main-bg-color);
    background-color: var(--main-tx-color);
}

.ribbon:before {
    content: "";
    display: inline-block;
    border-bottom-width: 2px;
    border-left-width: 2px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    position: absolute;
    top: -50%;
    bottom: 50%;
    left: 1.6em;
    right: 0;
    background-color: var(--main-bg-color);
}

.ribbon:after {
    content: "";
    display: inline-block;
    border-bottom-width: 2px;
    border-right-width: 2px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    position: absolute;
    top: -50%;
    bottom: 50%;
    left: 0;
    right: 1.6em;
    background-color: var(--main-bg-color);
    flex-shrink: 1;
    padding-right: 10%;
}

.secondary-message {
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #000;
}

.functioning {
    width: 22%;
    padding: 0.3em 0.01em;
    margin: 0.5em 0 0.5em 0;
    height: fit-content;
    text-align: center;
}

.smallTitle {
    font: bold 1.2em 'Montserrat', Arial, Helvetica;
    color: var(--main-tx-color);
}

#how-it-works button {
    display: block;
    width: 25em;
    height: 3em;
    margin: 5px auto;
    line-height: normal;
}


/* Nuevo estilo tarjeta de la tienda*/

#categories {
    justify-content: center;
    max-height: 480px;
    margin: 10px 0 20px 0;
}

.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bg-header {
    background: linear-gradient(151deg, rgba(247, 119, 48, 1) 0%, rgba(252, 187, 23, 1) 85%);
    border-radius: 20px 20px 0 0;
}

.header-card {
    border-radius: 8px 8px 0 0;
    max-height: 200px;
    height: 220px;
    width: 100%;
}

.tarjeta {
    max-width: 350px;
    max-height: 420px;
    background: var(--main-bg-color);
    border-radius: 20px;
    margin: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#categories h2 {
    padding: 0 0 15px 0;
}

#categories img {
    width: 80%;
    height: 40%;
    padding: 7px 5px 0 50px;
    margin: 5px 5px 0 5px;
    border-radius: 25px;
}

.product-description {
    padding: 20px 20px;
}

.product-price {
    position: absolute;
    background: #11e95b;
    padding: 2px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    color: var(--main-bg-color);
    border-radius: 7px;
    margin-top: 5px;
    margin-left: 10px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

.footer-card {
    padding: 0 1rem;
    height: 8em;
}

.footer-card button {
    float: right;
    margin-top: 5px;
    height: 2em;
}

.btn-see-more {
    width: 480px;
    height: 3em;
    font-size: 1em;
}


/* HASTA AQUÍ ESTILOS DE LAS TARJETAS DE LA TIENDA */


/* BENEFICIOS */

#beneficios {
    justify-content: space-around;
    max-height: 600px;
    margin-top: 150px;
}

#beneficios h1 {
    width: 70vw;
    text-align: center;
    margin: auto;
}

#beneficios div {
    margin: 1.5em;
    padding: 25px 0;
}

.left,
.right {
    margin: 1%;
    width: 40%;
}

#beneficios img {
    width: 300px;
    margin: 0;
}

#beneficios button {
    width: 17em;
    height: 2em;
    padding: 20px;
}


/* 
#beneficios {
    height: fit-content;
    margin: 12em 0 0 0;
    display: flexbox;
    flex-wrap: wrap;
}






 */


/* HASTA AQUI La seccion de beneficios */

.opinions {
    background-color: var(--seconday-bg-color);
    height: fit-content;
    padding: 2em 12em;
    text-align: center;
}

#feedback aside {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .30);
    backdrop-filter: blur(5px);
    margin: 1em auto;
}

#contact-us {
    margin: 2em auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subscribe {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--secondary-text-color);
    width: 80vw;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(61, 159, 255, 0.2);
}

.subscribe-title {
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    font-weight: bold;
    margin: 0 auto;
}

.subscribe-copy {
    max-width: 70em;
    text-align: center;
    line-height: 1;
}

.form {
    margin-bottom: 1em;
}

.form-email {
    padding: 7px 25px;
    border-radius: 5px;
    height: 50px;
    border: 1px solid var(--color-one);
    width: 25em;
    font-size: 18px;
    color: var(--main-tx-color);
}

.form-email:focus {
    outline: 1px solid var(--main-tx-color);
}

.btn-form {
    margin: 1em 0;
    padding: 7px;
    border: none;
    width: 25em;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 2px 8px rgba(255, 0, 0, 0.5);
}

.notice {
    width: 70em;
}

footer {
    margin-top: 2em;
    background-color: var(--seconday-bg-color);
    color: var(--main-tx-color);
    padding: 0.5em 2em;
    margin-top: 0.4em;
    display: block;
    font: bold 1em "Montserrat", Arial, Helvetica;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    padding: 0 1em;
}

footer a {
    color: var(--main-tx-color);
}

footer>p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: normal;
}


/*RESPONSIVE*/


/* estilos para movil en vertical */

@media (max-width: 479px) and ( orientation: portrait) {
    * {
        font-size: 12px;
        box-sizing: border-box;
    }
    .menu-toggle {
        display: block;
        margin-right: .9em;
        font-size: .8em;
    }
    .header {
        padding: 0 1.25em;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: cal(100vh - 57px);
        top: 3.75em;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
    header nav ul li.active ul {
        position: relative;
        /*       background: #333; */
    }
    #header-img {
        height: 4em;
    }
    .functioning {
        width: 100%;
        align-content: flex-start;
    }
    .functioning p {
        font-size: 1.1em;
        padding: 0 .5em;
        font-weight: 500;
    }
    .svg-inline--fa {
        font-size: 2.5em;
    }
    #main-title {
        flex-direction: column;
        margin: .5em auto 0 auto;
        height: fit-content;
    }
    #main-title img {
        max-width: 90vw;
        margin: 1em auto;
    }
    .main-message {
        margin: 2em auto 0 auto;
    }
    .secondary-message {
        margin: 1em auto 0 auto;
        font-size: 15px;
    }
    .primary-title {
        font-size: 2.2em;
        font-weight: 200;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .smallTitle {
        font-size: 1.5em;
        margin: .9em .3em;
    }
    #how-it-works button {
        font-size: 1.1em;
        padding: 2px 18px;
        width: fit-content;
        margin-bottom: 3em;
    }
    #categories {
        margin: 10px;
        max-height: fit-content;
    }
    #categories h2 {
        font-size: 30px;
    }
    .product-description {
        font-size: 18px;
    }
    #categories b {
        font-size: 20px;
    }
    #categories button {
        font-size: 15px;
    }
    #beneficios {
        margin: 10px 0;
        max-height: fit-content;
        max-width: 100%;
        box-sizing: border-box;
    }
    #beneficios h1,
    #feedback h1 {
        overflow-wrap: break-word;
        width: auto;
        font-size: 1.8em;
    }
    #beneficios div {
        padding: 0;
        margin: 10px;
        justify-content: center;
    }
    .left,
    .right {
        width: 450px;
        margin-top: 0;
        padding: 7px 12px;
    }
    #beneficios button {
        margin: 18px auto;
    }
    .smallDescription {
        line-height: 20px;
        margin-top: 9px;
        text-align: center;
    }
    .subscribe-title {
        margin-top: 15px;
        font-size: 2em;
    }
    .subscribe-copy {
        line-height: 20px;
    }
    .form-email {
        margin: 12px 0;
        padding: 7px;
        border-radius: 5px;
        height: 30px;
        border: 1px solid var(--color-one);
        width: 200px;
        font-size: 12px;
    }
    .btn-form {
        width: 200px;
        padding: 0 8px;
        font-size: 15px;
        margin: auto;
        height: 2.3em;
    }
    .notice {
        padding: 0 20px;
    }
}

@media (min-width: 480px) and (max-width: 999px) and ( orientation: portrait) {}


/*
@media (min-width: 700px) and (max-width: 999px) {
    * {
        font-size: 15px;
    }

    #whatsapp img {
        width: 50px;
        height: 50px;
    }

    .menu-toggle {
        display: block;
        margin-right: .9em;
        font-size: 1em;
    }

    .header {
        padding: 0 1.25em;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: cal(100vh - 57px);
        background: #232323;
        top: 3.75em;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    header nav ul li.active ul {
        position: relative;
        background: #333;
    }

    #header-img {
        height: 4em;
    }
    .functioning {
        width: 100%;
        align-content: flex-start;
    }

    .functioning>p {
        font-size: 1.4em;
        padding: 0 .5em;
    }

    .svg-inline--fa {
        font-size: 3em;
    }

    .meal-plan {
        width: 93%;
        margin-bottom: .8em !important;
        min-height: 26em;
    }

    .plan-description{
        font-size: 1.2em;
    }

    .price{
        font-size: 1.5em;
    }

    .video-benefits {
        margin: 0 .9em .5em;
    }


    #info {
        font-size: 1.2em;
    }

    #full-name,
    #email,
    #mobile {
        width: 80%;
        margin: .5em .7em;
        font-size: 1.5em;
    }
} */